#root {
    margin: 0;
    padding: 0;
}

header {
    grid-area: Header;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 10rem;
}

main {
    grid-area: Main;
    padding: 1rem 10rem;
}

footer {
    grid-area: Footer;
    background-color: white;
    padding: 1rem 10rem;
}

/* Header */

.ul_header {
    color: black;
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul_footer {
    list-style: none;
}

.nav_item {
    color: black;
    text-decoration: none;
}

/* End Header */

/* Calltoaction */

.calltoaction {
    background-color: #495E57;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.main-card-text {

    width: 12.5rem;
    height: 20.688rem;
    color: white;
}

.main-card-img img {
    width: 23.438rem;
    height: 20.313rem;
    object-fit: cover;
    border-radius: 10px;
}

/* End Calltoaction */

/* Specials */

.specials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.specials-containter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "title button"
        "cards cards";
}

.specials-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.specials-button {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.sp-cont-cards {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.card {
    width: 12.5rem;
}

.img-cards {
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
}

/* End Specials */

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
}

.footer_logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Reservations */

.form-book{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End reservations */
