#root {
    margin: 0;
    padding: 0;
}

header {
    grid-area: Header;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem 10rem;
}

main {
    grid-area: Main;
    background-color: #495E57;
    padding: 1rem 10rem;
}

footer {
    grid-area: Footer;
    background-color: white;
    padding: 1rem 10rem;
}

/* Header */

.ul_header {
    color: black;
    display: flex;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ul_footer {
    list-style: none;
}

.nav_item {
    color: black;
    text-decoration: none;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
}

.footer_logo {
    display: flex;
    justify-content: start;
    align-items: center;
}