:root {
  font-style: normal;
  color-scheme: light dark;
  color: #333333;
  background-color: #EDEFEE;
}
body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "Header"
  "Main"
  "Footer";
}